body
{
  color: white;
  background-color: blueviolet;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}
#emotion_name ,#emotion_name1  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 15px;
  color: white;
  background-color: black;
  padding:6px;
  border-radius: 10px;
}
